.map_container {
  height: 100%;
  width: 100%;

  padding: 0 5rem;
}

.map {
  height: 55rem;
  width: 100%;

  border: none;
  border-radius: 6px;
}

.gm-style iframe + div {
  border: none !important;
  opacity: 0 !important;
}
