.container {
  display: flex;
  gap: 5rem;

  max-width: 90%;
  margin: 5rem auto 0;
  padding: 2rem;
}

.container h3 {
  font-size: 6.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-family: var(--font-neue);

  margin-bottom: 3rem;
}

.informations {
  flex: 2 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  flex-direction: column;
}
