.layout {
  min-height: calc(100dvh - var(--navHeight));
}

.container {
  display: flex;
  gap: 10rem;

  width: clamp(20rem, 100%, 190rem);
  padding: 4rem;
}

.container h3 {
  font-size: 6.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-family: var(--font-neue);

  margin-bottom: 3rem;
}

.informations {
  flex: 2 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  flex-direction: column;
}

@media only screen and (max-width: 73.4375em) {
  .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 50em) {
  .layout {
    min-height: 100dvb;
  }
}

@media only screen and (max-width: 35.625em) {
  .container {
    padding: 4rem 0;
  }
}
