.nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav_item a:link,
.nav_item a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white-text);

  font-size: 2.2rem;

  transition: all 0.4s;

  position: relative;
}

.nav_item a:hover,
.nav_item a:active {
  color: var(--color-green-1);
  transform: translateX(9px);
}

@media only screen and (max-width: 73.4375em) {
  .nav {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 64.375em) {
  .nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 45.625em) {
  .nav ul {
    align-items: flex-end;
  }
}

@media only screen and (max-width: 30em) {
  .nav ul {
    align-items: initial;
  }
}
