.hero {
  min-height: 100vh;
  width: 100%;

  background-image: linear-gradient(#161616af, #161616af),
    url(/src/assets/car1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}
