@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nosifer&display=swap");

:root {
  --color-black-background: rgb(22, 22, 22);
  --color-white-background-1: rgb(244, 243, 247);
  --color-white-background-2: #efedf5;

  --color-black-text: #171717;
  --color-white-text: #fff;

  --color-white-additional: #fdfdfd;

  --color-green-1: #00bd83;
  --color-green-2: #37a893;
  --color-green-3: #03594a;
  --color-green-4: #284f4b;
  --color-green-5: #173632;

  --font-lato: "Lato", sans-serif;
  --font-nosifer: "Nosifer", sans-serif;
  --font-bungee: "Bungee", sans-serif;
  --font-bungee-shade: "Bungee Shade", sans-serif;
  --font-neue: "Bebas Neue", sans-serif;

  --navHeight: 7.6rem;
}

/*
@media only screen and (max-width: 108.8em) {}

@media only screen and (max-width: 100em) {}

@media only screen and (max-width: 87em) {}

@media only screen and (max-width: 84.4em) {}

@media only screen and (max-width: 78.15em) {}

@media only screen and (max-width: 73.4375em) {}

@media only screen and (max-width: 64.375em) {}

@media only screen and (max-width: 60.3125em) {}

@media only screen and (max-width: 50em) {}

@media only screen and (max-width: 45.625em) {}

@media only screen and (max-width: 43.75em) {}

@media only screen and (max-width: 40.625em) {}

@media only screen and (max-width: 35.625em) {}

@media only screen and (max-width: 33.75em) {}

@media only screen and (max-width: 32.5em) {}

@media only screen and (max-width: 30em) {}

@media only screen and (max-width: 23.4375em) {}
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 84.4em) {
  html {
    font-size: 59.375%;
  }
}

@media only screen and (max-width: 78.15em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 64.375em) {
  html {
    font-size: 50%;
  }
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-lato);
  color: var(--color-white-text);
  background-image: url(../assets/zwartevilt.webp);
}

img {
  height: auto;
}

.gm-style iframe + div {
  border: none !important;
}

:global(.gm-style iframe + div) {
  border: none !important;
}
