.logo {
  height: 5.2rem;
}

@media only screen and (max-width: 73.4375em) {
  .anchor {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 64.375em) {
  .anchor {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
