.link:link,
.link:visited {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  border: none;
  outline: none;

  position: relative;
}

.primary:link,
.primary:visited {
  background-color: var(--color-white-text);
  color: var(--color-black-text);

  transition: all 0.4s;
}

.primary:active,
.primary:focus {
  background-color: var(--color-green-1);
  color: var(--color-white-text);
}

.secondary:link,
.secondary:visited {
  color: var(--color-white-text);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary:active,
.secondary:focus {
  color: var(--color-green-1);
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row:link,
.row:visited {
  background-color: var(--color-black-text);
  color: var(--color-white-text);

  transition: all 0.4s;

  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.row:active,
.row:focus {
  background-color: var(--color-green-1);
  color: var(--color-white-text);
}

.big {
  padding: 1.1rem 0.5rem;
  flex: 0 1 25.5rem;
  font-weight: 600;
  border-radius: 12px;

  font-size: 2.2rem;
}

.clip_primary {
  background-color: var(--color-green-1);
  color: var(--color-white-text);
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;

  z-index: 1;

  width: 100%;
}

.clip_secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-white-text);
  color: var(--color-black-text);
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;

  z-index: 1;

  width: 100%;
}

.clip_row {
  background-color: var(--color-green-1);
  color: var(--color-white-text) !important;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;

  z-index: 1;

  width: 100%;
}
