.information_box {
  display: flex;
  /* flex: 0 0 auto; */

  gap: 8rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.8rem;
}

.column p:first-child {
  display: flex;
  align-items: center;

  font-weight: 500;

  gap: 1.5rem;

  font-size: 2.4rem;
}

.icon {
  border: 3px solid var(--color-green-1);
  width: 5.5rem;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.column span:not(.icon) {
  display: block;

  margin-top: 0.2rem;
}

.statusOpen {
  text-align: center;
  color: var(--color-green-1);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.statusClose {
  text-align: center;
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (max-width: 73.4375em) {
  .information_box {
    grid-column: 1/2;
    grid-row: 2/3;

    gap: 12rem;

    justify-content: space-between;
  }

  .column {
    flex-shrink: 0;
  }
}

@media only screen and (max-width: 64.375em) {
  .information_box {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  .column p {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 50em) {
  .column {
    font-size: 2rem;
  }

  .information_box {
    gap: 8rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .information_box {
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media only screen and (max-width: 40.625em) {
  .contact_page {
    justify-content: center;
    column-gap: 20rem;
  }
}

@media only screen and (max-width: 30em) {
  .information_box {
    flex-direction: column;
  }

  .status {
    text-align: initial;
  }
}
