.main {
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 5rem 0;
}

.container h1 {
  font-size: 9.6rem;
  text-transform: uppercase;
  text-align: center;

  transform: translateY(-40px);
  line-height: 1.2;

  font-family: var(--font-nosifer);
  color: var(--color-green-1);
}

.container span {
  display: inline-block;
  font-size: 12.8rem;
  text-align: center;
  font-family: var(--font-nosifer);
  color: var(--color-green-3);
}
