.mobileNavBtn {
  top: 10px;
  right: 10px;
  position: fixed;

  width: 6rem;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 3px;

  z-index: 1000;

  background: none;
  outline: none;
  border: none;

  background-color: var(--color-black-background);
  color: var(--color-white-text);

  cursor: pointer;
}

.nav {
  z-index: 50;

  background-color: rgba(22, 22, 22, 0.8);
  backdrop-filter: blur(6px);

  position: fixed;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-height: 100dvh;
  transform: translateX(100%);

  gap: 2rem;
  pointer-events: none;

  opacity: 0;

  transition: all 0.4s ease-in;
}

.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
}

.nav div {
  display: none !important;
}

.nav ul {
  font-size: 4.2rem;
  list-style: none;
}

.nav a {
  font-size: 3rem !important;
  padding: 0 !important;
}
