.feature {
  margin: 0 auto;
  padding: 20rem 10rem 5rem 10rem;

  max-width: 192rem;

  background: url("/featureBG.svg") no-repeat;
  background-size: cover;

  overflow: hidden;

  position: relative;
}

@media only screen and (max-width: 108.8em) {
  .feature {
    padding: 20rem 5rem 5rem 5rem;
  }
}

@media only screen and (max-width: 84.4em) {
  .feature {
    padding: 15rem 5rem 5rem 5rem;
  }
}

@media only screen and (max-width: 50em) {
  .feature {
    border-radius: 0;
  }
}

@media only screen and (max-width: 35.625em) {
  .feature {
    padding: 15rem 0 5rem 0;
  }
}
