.header {
  height: 7.5rem;

  background-color: var(--color-black-background);

  border-bottom: 2px solid var(--color-white-text);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  flex: 0 1 95%;
}

.nav ul {
  display: flex;
  list-style: none;

  gap: 5rem;
}

.nav li {
  position: relative;
}
