.header {
  background-color: var(--color-black-background);
  border-bottom: 2px solid var(--color-white-text);
  height: var(--navHeight);
}

.transparentBG {
  background: transparent;
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.nav ul {
  display: flex;
  list-style: none;

  gap: 5rem;
}

.nav li {
  position: relative;
}
