.header {
  background-color: var(--color-black-background);
  border-bottom: 2px solid var(--color-white-background-1);
  height: var(--navHeight);

  display: flex;
  align-items: center;
}

.transparentBG {
  background: transparent;
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;

  padding: 0 2rem;
}

.nav ul {
  display: flex;
  list-style: none;

  gap: 5rem;
}

@media only screen and (max-width: 84.4em) {
  .nav ul {
    gap: 1.5rem;
  }
}

.nav li {
  position: relative;
}

@media only screen and (max-width: 50em) {
  .header {
    display: none;
  }
}
