.slider {
  background-color: var(--color-black-background);

  border-top: 2px solid var(--color-white-text);
  border-bottom: 2px solid var(--color-white-text);

  height: 8rem;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.slider span {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  position: absolute;
}

@media only screen and (max-width: 43.75em) {
  .slider span {
    text-align: center;
    text-wrap: balance;
  }
}

@media only screen and (max-width: 23.4375em) {
  .slider span {
    font-size: 2rem;
  }
}
